body {
  margin: 0;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(135deg, #F29AAE, #C47BE4, #7132CA, #301CA0);
}

.home-container {
  text-align: center;
  background: rgba(255,255,255,0.9);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  width: 80%;
  max-width: 900px;
}

h1 {
  color: #301CA0;
  font-size: 42px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.project-card {
  text-decoration: none;
  background: white;
  padding: 30px 20px;
  border-radius: 20px;
  color: #301CA0;
  font-size: 50px;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.project-card h2 {
  font-size: 20px;
  margin-top: 15px;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
  background: linear-gradient(135deg, #C47BE4, #7132CA);
  color: white;
}